<%- include('includes/head', {title: 'Home'}) %> 
<link rel="stylesheet" href="styles/home.css">

<script src="https://unpkg.com/vue@3"></script>
<script src="/scripts/live-time.js" defer></script>
<script src="/scripts/sidebar-menu.js" defer></script>
  </head>
  <body>

    <%- include('includes/header') %> 
    


    <h1>Dashboard</h1>

    <div id="dashboard">
        <article>
            <h2>Total Transaksi Penjualan Hari Ini</h2>
            <p><%= countSale %></p>
        </article>
        <article>
          <h2>Total Permintaan Void</h2>
          <p><%= voidAmount %></p>
      </article>
      <article>
        <h2>Penjualan Hari Ini</h2>
        <p class="income-dashboard" ><%= totalIncome %></p>
    </article>
    </div>
 
    <nav id="side-nav">

    </nav>
  </body>
</html>
