<%- include('../../shared/includes/head', {title: 'Buat Akun' }) %>
  <link rel="stylesheet" href="/styles/login.css" />

  <script src="https://unpkg.com/vue@3"></script>
  <script src="/scripts/sidebar-menu.js" defer></script>
  </head>

  <body>
    <%- include('../../shared/includes/header') %>

      <h1>Buat Akun</h1>




      <main>
        <% if (flashData.errorMessage){ %>

          <p class="error">
            <%= flashData.errorMessage; %>
          </p>
          <% } %>
            
            
            <form action="/admin/kelola-akun/daftar" method="POST">
              <div>
                <label for="role">Peran</label>
                <select name="role" id="role" required>
                  <option value="admin">Admin</option>
                  <option value="pegawai" selected>Pegawai</option>
                </select>
              </div>
              <div>
                <label for="name">Nama</label>
                <input type="text" id="name" name="name" value="<%= flashData.name %>" required />
              </div>
              <div>
                <label for="phone">Nomor Telepon</label>
                <input type="tel" id="phone" name="phone" value="<%= flashData.phone %>" required/>
              </div>
              <div>
                <label for="userid">User ID</label>
                <input type="text" id="userid" name="userid" value="<%= flashData.userId %>" required/>
              </div>
              <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="<%= flashData.password %>" required/>
              </div>
              <div>
                <label for="confirm-password">Konfrimasi Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required/>
              </div>

              <hr />
              <button class="btn">Daftar</button>
            </form>
      </main>
  </body>

  </html>