<%- include('../../shared/includes/head', {title: 'Kelola Akun' }) %>


  <script src="https://unpkg.com/vue@3"></script>
  <script src="/scripts/sidebar-menu.js" defer></script>
  <script src="/scripts/kelola-akun.js" defer></script>

  </head>

  <body>
    <%- include('../../shared/includes/header') %>

      <h1>Kelola Akun</h1>


      <main>
        <a class="btn" href="/admin/kelola-akun/daftar">Tambah</a>
        <br><br><br>
        <table>
          <thead>
          <tr>
            <th>User Id</th>
            <th>Nama</th>
            <th>No Handphone</th>
            <th>Peran</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% for (const accountDetail of accountDetails) { %> 
          
          <tr id="<%= accountDetail._id %>">
            <td><%= accountDetail.userId %></td>
            <td><%= accountDetail.name %></td>
            <td><%= accountDetail.phone %></td>
            <td><%= accountDetail.isAdmin? 'admin' : 'pegawai' %></td>
  
            <td><button data-id="<%= accountDetail._id %>"  class="btn btn-delete" @click="toggleModal">Hapus</button></td>
          </tr>
         

          <% } %> 
        </tbody>

      

        </table>
        
        <div class="modal">
          <div class="dialog">
            <p>Apakah anda yakin ingin menghapus?</p>
            <div class="button-group">
              <button
                type="button"
                @click="deleteAccount"
                
                :data-id="id"
                class="btn btn-delete btn-modal"
              >
                Hapus
              </button>
              <button
                type="button"
                @click="toggleModal"
                class="btn btn-close btn-modal"
              >
                Tutup
              </button>
            </div>
          </div>
        </div>
        
      </main>
  </body>

  </html>