<%- include('../../shared/includes/head', {title: 'Kelola Void Penjualan' }) %>

  <link rel="stylesheet" href="/styles/jual.css">
  <script src="https://unpkg.com/vue@3"></script>
  <script src="/scripts/sidebar-menu.js" defer></script>
  <script src="/scripts/kelola-jual.js" defer></script>
  

  </head>

  <body>
    <%- include('../../shared/includes/header') %>

      <h1>Kelola Void Transaksi Penjualan</h1>


      <main class="main-kelola">
        <table>
          <thead>
            <tr>
              <th>No</th>
              <th>ID Transaksi</th>
              <th>Total Harga</th>
              <th>Metode Pembayaran</th>
              <th>Kasir</th>
              <th>Tanggal Jual</th>
              <th>Alasan</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% listVoid.map(function(element,index){  %> 
              <tr id="<%= element._id %>">
                <td><%= ++index %></td>
                <td><%= element._id %></td>
                <td><%= element.totalPrice %></td>
                <td><%= element.paymentMethod %></td>
                <td><%= element.cashier %></td>
             
                <td><%= element.date %></td>
                <td><%= element.void.reason %> </td>
                <td>
                  <div class="button-group">
                    <button @click="toggleModal" data-id="<%= element._id %>" type="button" class="btn btn-delete">Terima</button>
                    <button @click="rejectVoid" data-id="<%= element._id %>" type="button" class="btn btn-close">Tolak</button>
                  </div>
                </td>
              </tr>
            <%  }) %> 
          </tbody>
        </table>


        <div class="modal">
          <div class="dialog">
            <p>Apakah anda yakin ingin menghapus transaksi penjualan?</p>
            <div class="button-group">
              <button
                type="button"
                @click="deleteSale"
                
                :data-id="id"
                class="btn btn-delete btn-modal"
              >
                Hapus
              </button>
              <button
                type="button"
                @click="toggleModal"
                class="btn btn-close btn-modal"
              >
                Tutup
              </button>
            </div>
          </div>
        </div>
     
      </main>
  </body>

  </html>