<%- include('../../shared/includes/head', {title: 'Kelola Transaksi Penjualan' }) %>

  <link rel="stylesheet" href="/styles/jual.css">
  <script src="https://unpkg.com/vue@3"></script>
  <script src="/scripts/sidebar-menu.js" defer></script>
  <script src="/scripts/kelola-jual.js" defer></script>
  

  </head>

  <body>
    <%- include('../../shared/includes/header') %>

      <h1>Kelola Transaksi Penjualan</h1>


      <main class="main-kelola">
        <a href="/admin/kelola-transaksi-penjualan/tambah" id="tambah-penjualan-btn" class="btn btn-add">Tambah Transkasi Penjualan</a>
      
        <table>
          <thead>
            <tr>
              <th>No</th>
              <th>ID Transaksi</th>
              <th>Total Harga</th>
              <th>Metode Pembayaran</th>
              <th>Kasir</th>
              <th>Waktu Jual</th>
              <th>Status Void</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <h1><%= currentDate %></h1>
            <% sales.map(function(element,index){  %> 
              <tr class="<%= element.void? 'red-font' : null %> ">
                <td><%= ++index %></td>
                <td><%= element._id %></td>
                <td><%= element.totalPrice %></td>
                <td><%= element.paymentMethod %></td>
                <td><%= element.cashier %></td>
             
                <td><%= element.time %> WIB</td>
                <td><%= !element.void? null : "menunggu void" %> </td>
                <td>
                  <a href="/admin/kelola-transaksi-penjualan/<%= element._id %>" class="btn"> Lihat </a>
                </td>
              </tr>
            <%  }) %> 
          </tbody>
        </table>
     
      </main>
  </body>

  </html>