<%- include('../../shared/includes/head', {title: 'Laporan Laba Rugi' }) %>

  <link rel="stylesheet" href="/styles/jual.css">
  <link rel="stylesheet" href="/styles/laporan.css">
  <link rel="stylesheet" href="/styles/laporan-laba-rugi.css">
  <script src="https://unpkg.com/vue@3"></script>
  <script src="/scripts/sidebar-menu.js" defer></script>
  <script src="/scripts/kelola-jual.js" defer></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>

  <script src="/scripts/generate-pdf-laba-rugi.js" defer></script>

  </head>

  <body>
    <%- include('../../shared/includes/header') %>


      <main class="main-kelola">

        <div id="report-links">
        <a href="/admin/laporan">Laporan Penjualan</a>
        <a href="">Laporan Laba-rugi</a>
        </div>

        <div class="flex-row">
          <button class="btn btn-download" id="download"> <div class="icon">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z">
                </path>
              </svg>
             
            </div> <span>PDF</span> </button>


          <form action="/admin/laporan/laba-rugi/pilih" method="GET">
            <label for="selected-month">Bulan</label>
            <input type="month" name="selected-month" value="<%= selectedYMDate %>" id="selected-month">
            <button class="btn">Pilih</button>

          </form>

        </div>





        <h1 id="report-title">Laporan Laba Rugi Bulan <%= currentMonth %></h1>


        <h2>Pendapatan Penjualan</h2>

        <table id="table-one">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Produk</th>
              <th>Jumlah Terjual</th>
              <th>Total Jual </th>

            </tr>
          </thead>
          <tbody>

            <% salesByProduct.map(function(element,index){ %>
              <tr>
                <td>
                  <%= ++index %>
                </td>
                <td>
                  <%= element._id %>
                </td>
                <td>
                  <%= element.totalSoldQuantity %>
                </td>
                <td>
                  <%= element.totalSoldPrice %>
                </td>


              </tr>
              <% }) %>
              <tr>
                <th class="total-cell" colspan="4"> Total Akhir Pendapatan: <%= totalPrice %></th>
              </tr>

          </tbody>

        </table>

      


        <h2>Harga Pokok Penjualan (HPP)</h2>
        <table id="table-two">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Produk</th>
              <th>Jumlah Beli</th>
              <th>Total Beli </th>

            </tr>
          </thead>
          <tbody>

            <% purchasedByProduct.map(function(element,index){ %>
              <tr>
                <td>
                  <%= ++index %>
                </td>
                <td>
                  <%= element._id %>
                </td>
                <td>
                  <%= element.totalQuantity %>
                </td>
                <td>
                  <%= element.totalExpenses %>
                </td>


              </tr>
              <% }) %>

              <tr>
                <th class="total-cell" colspan="4">Total Akhir HPP : <%= totalExpenses %></th>
              </tr>

          </tbody>

        </table>



        <hr>
        <p id="income-statement" class="grand-total"> Laba Bersih: <b><%= incomeStatement %></b></p>




      </main>



  </body>

  </html>